
.blog-input::placeholder, .motivation-description::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 0.8; /* Firefox */
}

.blog-input:-ms-input-placeholder, .motivation-description:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
}

.blog-input::-ms-input-placeholder, .motivation-description::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}

.news-item.clickable:hover{
  transform: scale(1.02);
}


.news-item{
  background: white;
  box-shadow: 1px 1px 8px #dfdfdf;
  border: 1px solid #d9d9d9;
  border-radius: 8px;

  -webkit-transition: 0.1s ease-in-out;
    -moz-transition: 0.1s ease-in-out;
    -o-transition: 0.1s ease-in-out;
    transition: 0.1s ease-in-out;

}

.blog-textarea{
  text-align: center;
  width: 100%;
  height:400px;

}

.note-editable{
  min-height: 200px;
}

.note-group-select-from-files{
  display: none;
}

.blog-input{
  text-align: center;
  width: 100%;
  background: transparent;
  color:white;
  border: none;
}


.news-date{
  font-size: 32px;
  color: #888;
  margin-bottom: 8px;
}

.row-blog{
  padding: 0px!important;
}

.time-line{
  margin-bottom: 20px;
  margin-top: 32px;
  display: inline-block;
  border-left: 2px solid #b7b7b7;
  height: 100px;
}

.news-headline{
  background: #07afd6;
  padding:8px;
  color: white;
  border-radius: 8px 8px 0 0;
  font-size: 32px;
}

.news-body{
  text-align: left;
  padding: 24px 32px;
  font-size: 20px;
}

#additional-documents{
  display: none;
}

h1{
  font-family: 'Amatic SC', cursive;
  color:#5e5e5e;
  font-weight: 400;
}

#browse-description-p{
  margin-top:16px;
}


#browse-description-headline{
  margin-bottom:16px;
}

#content-box p{
  margin: 0;
  font-size: 20px;
}

body{

  font-family: 'Open Sans Condensed', sans-serif;

}

.tagarea{
  padding-left: 0;
  list-style-type: none;
  overflow: hidden;
}

.tag input{

  background: none;
  border: 0;
  width: 68px;
  text-align: center;
}

.tag.clickable:hover{
    transform: scale(1.05);
}


.card.clickable{
  -webkit-transition: 0.1s ease-in-out;
   -moz-transition: 0.1s ease-in-out;
   -o-transition: 0.1s ease-in-out;
   transition: 0.1s ease-in-out;
}

.card.clickable:hover{
    transform: scale(1.03);
}






.tag{
  -webkit-transition: 0.1s ease-in-out;
   -moz-transition: 0.1s ease-in-out;
   -o-transition: 0.1s ease-in-out;
   transition: 0.1s ease-in-out;
   display: inline-block;
  cursor:pointer;
  background: #65c93b;
  padding: 8px 16px;
  margin: 4px;
  border-radius: 12px;
  color: #eee;
  box-shadow: 1px 1px 2px #ccc;
  margin-left:1px;
  margin-right:8px;
}

.disabled{
  opacity: 0.3!important;
}


.motivation-thumb{
  border-radius: 64px;
}

.navbar-default{
  box-shadow: 1px 0px 8px #000000cf!important;
}

.nav-item{
  text-shadow: 1px 1px 1px #00000052;
  -webkit-transition: 0.1s ease-out;
   -moz-transition: 0.1s ease-out;
   -o-transition: 0.1s ease-out;
   transition: 0.1s ease-out;

}

.nav-item:hover{
    -webkit-filter: drop-shadow( 1px 1px 6px #00000055);
    filter: drop-shadow( 1px 1px 6px #00000055);


}

.content-container{
  position: absolute;
  top: 65px;
  left: 0;
  right: 0;
  bottom: 0;

}




.print-guide{
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -196px;
  margin-left: -300px;
  background: #fff;
  border: 1px solid #0000002b;
  box-shadow: 1px 1px 8px#c7c7c7;
  width: 600px;
  height: 392px;
  z-index: 20;
  opacity: 0;
  border-radius: 24px;
  padding: 24px;

}


.expand-item:hover{
  transform: scale(1.1);

}

.expand-item{
  -webkit-transition: 0.07s ease-in-out;
   -moz-transition: 0.07s ease-in-out;
   -o-transition: 0.07s ease-in-out;
   transition: 0.07s ease-in-out;
}


.browse-arrow:hover{
  transform: scale(1.2);

}

.browse-arrow{
  -webkit-transition: 0.07s ease-in-out;
   -moz-transition: 0.07s ease-in-out;
   -o-transition: 0.07s ease-in-out;
   transition: 0.07s ease-in-out;
}

@media screen and (max-width: 400px) {

.row-default{
  padding: 32px 12px!important;
}

}

@media screen and (max-width: 500px) {

  .browse-arrow{
    width:64px;
    height:64px;
    position:absolute;
    left:50%;
    top:50%;
    margin-top:-32px!important;
    margin-left:-32px!important;
    opacity:0.6;
  }


}





@media screen and (min-width: 501px) {

  .browse-arrow{
    width:128px!important;
    height:128px!important;
    position:absolute;
    left:50%;
    top:50%;
    margin-top:-64px!important;
    margin-left:-64px!important;
    opacity:0.6;
  }
}




@media screen and (min-width: 601px) {



.row-default{
  padding: 64px!important;
}

}



@media screen and (max-width: 600px) {

  .print-guide{
  width: 98%;
  margin-left: -49%;
  height: 350px;
}
}

#file-descr p{
    margin-bottom:16px!important
}

#file-descr h3{
    margin-bottom:4px;
}

#file-descr h2{
    margin-top:16px;
    margin-bottom: 16px;
}



.btn{
  box-shadow: 1px 1px 8px #c8c8c8!important;
  border-radius: 12px!important;
  border:0;
}

.btn-primary{
  background: #07afd6;
  color:#fff!important;
}

.btn-primary:hover{
  background: #09c0eb;
}

.btn-primary:active{
  background: #09c0eb!important;
}

.btn-primary:visited{
  background: #07afd6;
}

.btn-primary:focus{
    box-shadow: 1px 1px 8px #c8c8c8;
  background: #09c0eb;
}


.print-guide-button{
  position: absolute;
  bottom: 0;
  width: 250px;
  margin-left: -125px;
  left: 50%;

}


.print-guide-exit{
  position: absolute;
  right: 16px;
  top: 16px;
  cursor: pointer;
}

.button-remove{
  position: absolute;
  background: url('../img/delete.svg');
  background-size: contain;
  height: 48px;
  width: 48px;
  right: -12px;
  opacity: 0.9;
  top: -12px;
  margin: 0!important;
  cursor: pointer;
}

.button-add{
  position: absolute;
  background: url('../img/check.svg');
  background-size: contain;
  height: 48px;
  width: 48px;
  right: -12px;
  opacity: 0.9;
  top: -12px;
  margin: 0!important;
  cursor: pointer;
}


.print-guide img{
  margin:0;
}

.print-guide h1{
  margin: 0;
  margin-bottom: 12px;
}


.content-container h1{
  margin-bottom: 32px;
  margin-left: 0px;
  margin-right: 0px;

}

body{
  background: #F9F9F9;
}

td{
  padding: 8px;
  font-size: 16px;
}

tr{

}



.container1 h1{
  font-size: 48px;
  margin-top: 64px;
  margin-bottom: 0px;
}

.layernav ul{
  padding: 0;
}

.layernav ul li{
  display: inline;
}

.layernav{
  margin-left: 16px;
  margin-top: 16px;
  color: #555;
}

table{

 border-bottom: 1px solid #ccc;

}

th{
  border-bottom: 1px solid #ccc;
  text-align: center;

}

h2 img{
  margin: 0!important;
}



th img{
  margin: 0px!important;
}

td img{
  margin: 0px!important;
}

th{
  padding: 8px;
}

.table-line:hover{

   background: #ddd;
   cursor: pointer;
}


.table-line{
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  background: #e0ffd3;
   border-radius: 64px;
}

.table-header{
  border: 0;
}

.watermark{
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -50px!important;
  margin-top: -50px!important;

  width: 100px;
  height: 100px;
  opacity: 0.9;
  font-size: 48px!important;
  background: #79d055;
  border: 1px solid #699457;
  color: #fff!important;
  padding: 12px 0px;
  border-radius: 64px
}

.watermark2{
  position: absolute;
  top: 50%;
  left:5%;
  margin-top: -25px!important;
  width: 90%;
  height: 50px;
  opacity: 0.98;
  font-size: 20px!important;
  color: #000!important;
  background:white;
  border: 1px solid #eee;
  padding: 12px 0px;
}


.card p{
  margin: 4px;
}

.card h2{
  margin-top: 8px!important;
  font-size: 20px!important;
  text-align: center;
  padding-bottom: 16px;
  border-bottom: 1px solid #ccc;
}

.card{

  position: relative;
  border: 1px solid #ddd;
  background: white;
  padding: 16px;
  border-radius: 8px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.card.effect__hover{
background:#F0F0F0;padding:32px;margin-bottom: 32px;
border-radius: 16px;
}

.rotating-box h2{
  margin: 0!important;
}

.card {
  text-align: center;
}

.rotating-box{

  height: 400px;
 /* margin:16px;background:#F9F9F9;padding:32px;border-radius: 16px;*/
 background: #F9F9F9;

}

.card__front,
.card__back {

}

.card__front,
.card__back {

  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 0.3s;
          transition: transform 0.3s;
}



.dropdown-menu{
  min-width: 250px;
}

.card__front {
  position: absolute;
  right: 32px;
  left: 32px;

}

.card__back {
    position: relative;
  top:0;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #fff;
  }


.card.effect__hover:hover .card__front {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card.effect__hover:hover .card__back {
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
}


 .navbar-nav>.open>a:focus{
  background: #4c8634!important;
}

.navbar-nav>.open>a{
  background: #4c8634!important;
}



.container-fluid{
  background: #79D055;
  color: white;
}

.navbar-default .navbar-brand{
  color: white;

}



.hint-arrow{
  display: none;
  opacity: 0;
  position: fixed;
  top: 64px;
  right: 24px;
  z-index: 20;
  border-radius: 24px;
}

.navbar-default{
  top:0;
  position: fixed;
  width: 100%;
  z-index: 10;
  margin:0;
  border:0;
  box-shadow: 1px 0px 8px #000;
}

.splash-image-loading{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  background-color: #F9F9F9;
}


 .navbar-nav li a{
  color: white!important;
}


.splash-image{
  background-position: left center;
  margin-top: 50px;
  background-size: cover;
  height:400px;
  margin:0;
  padding: 0;
  border-bottom:1px #888 solid;
}


@media screen and (max-width: 960px) {

  .splash-image{
  height:350px;
}


}


@media screen and (max-width: 680px) {

  .splash-image{
  height:250px;
}


}


@media screen and (max-width: 500px) {

  .splash-image{
  height:170px;
}


}


@media screen and (max-width: 350px) {

  .splash-image{
  height:120px;
}


}

.row{
  margin-right: 0px;
  margin-left: 0px;
}



.navbar-collapse{

  color: black;
}

.page-content{
  text-align: center;
}

h1{
  margin: 64px;
  font-size: 48px;
}


.row-default{
  padding-top: 32px;
  padding-bottom: 32px;
  border-bottom:1px solid #ddd;padding:48px;
}


.row-default h2{
  margin-top: 32px;
  margin-bottom: 32px;
  font-size: 32px;
  color: #545454;
}

.row-default p{
 margin-top: 32px;
  margin-bottom: 32px;
   font-size: 20px;
   color: #757575;
}

.row-default img{
 margin-top: 8px;
  margin-bottom: 8px;
}



}
